.body_wrapper {
	width: 740px;
	height: 670px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	cursor: default;
	background-color: #444;
}

#google_translate_element {
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 30px;
}

.bkg_credit {
	position: absolute;
	bottom: 5px;
	right: 5px;

	color: #333;
	font-family: Georgia, serif;
	font-size: 12px;
	cursor: default;
}
.bkg_link {
	color: #555;
	font-family: Georgia, serif;
	font-size: 12px;
	text-decoration: none;
}
.bkg_link:hover {
	text-decoration: underline;
	cursor: pointer;
}

#output img {
	border: 0;
    height: 120px;
    margin-top: 8px;
}
#logo-title {
    font-family: "Cantora One";
    text-align: center;
    margin-bottom: 2px;
    color: #43c7f4;
    font-size: 18px;
}

.input_section {
	/*border-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-color: #666;*/
	position: absolute;
	width: 470px;
	height: 112px;
	top: 500px;
	left: 0;
	/*background-color: #333;*/
	cursor: default;
}

.top_pane {
	position: absolute;
	width: 740px;
	height: 504px;
	left: 0;
}

.output_section {
	position: absolute;
	width: 267px;
	height: 550px;
	right: 0;
	/*background-color: #333;*/
}

.warning_drop_cap {
	color: #fafafa;
}

.warning_link {
	color: #bad1e0;
	font-family: Arial, Gadget, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
.warning_link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.output_instructions {
	width: 260px;
	color: #fafafa;
	font-family: Arial, Gadget, sans-serif;
	font-weight: bold;
	font-size: 12px;
    margin-left: 2px;
}

.graphic_section {
	position: absolute;
	width: 470px;
	height: 504px;
	top: 0;
	left: 0;
	text-align: center;
	/*background-color: #333;*/
}

#map_area {
	left: 2px;
	margin-top: -16px;
	width: 469px;
	height: 504px;
}

.map_content {
	width: 469px;
	height: 420px;
	position: relative;
	top: 2px;
	left: 0;
	z-index: 8000;
}
.map_go_panel {
	position: relative;
	left: 0;
	top: 4px;
}

#map_area {
	position: relative;
	top: 20px;
}

.graph_area {
	border: 0px solid yellow;
	position: absolute;
	height: 426px;
	width: 469px;
	left: 2px;
	bottom: 33px;
	/*top: 50%;
	margin-top: -200px;*/
}
#img_close_graph {
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
	z-index: 1000;
}

.output_data {
}

.output_calculations {
	position: relative;
	top: -16px;
}

.ul_title {
	color: #a68d60;
	font-weight: bold;
	font-family: Georgia, serif;
	font-size: 16px;
	position: relative;
	left: 6px;
	margin-top: 5px;
	cursor: default;
}
#output ul {
	color: #fafafa;
	font-family: Arial, Gadget, sans-serif;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	top: -12px;
	cursor: default;
}
#output li {
	margin-bottom: 5px;
}

.graph_link {
	color: #bad1e0;
	cursor:pointer;
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	right: 30px;
}
.graph_link:hover {
	text-decoration: underline;
}

.output_text {
	color: #fafafa;
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	right: 30px;
}
.ot_material {
	font-size: 12px;
	height: 18px;
	position: absolute;
	right: 30px;
}

#background {
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}
#background img {
	width: 100%;
	height: 100%;
}

.b_reset {
	position: absolute;
	left: 5px;
}

.unit_converter {
	text-align: center;
}

#unit_converter_text {
	color: #bad1e0;
	font-family: Arial, Gadget, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}
#unit_converter_text:hover {
	text-decoration: underline;
}

.intro_link {
	color: #bad1e0;
	font-family: Arial, Gadget, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
}
.intro_link:hover {
	text-decoration: underline;
}
